flask>=3.0.0
python-dotenv>=1.0.1
openai>=1.30.0
requests>=2.32.0
markdown>=3.6
flask-session>=0.8.0
openpyxl>=3.1.0
APScheduler>=3.10.0
Pillow>=10.0.0
google-api-python-client>=2.130.0
google-auth>=2.29.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
